<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="MemberSort"
            id="MemberSort.commands.category">
      </category>
      <command
            name="MemberSort Command"
            categoryId="MemberSort.commands.category"
            id="MemberSort.commands.sortCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="MemberSort.commands.sortCommand"
            class="com.ixenit.membersort.handlers.SortHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="MemberSort.toolbars.toolbar">
            <command
                  commandId="MemberSort.commands.sortCommand"
                  icon="icons/arrow.png"
                  tooltip="Sort members"
                  id="MemberSort.toolbars.sortCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ixenit.membersort.preferences.PreferencePage"
            id="membersort.preferences.PreferencePage"
            name="MemberSort">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.ixenit.membersort.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
